version: 2.1

orbs:
  node: circleci/node@7
  docker: circleci/docker@3
  sonarcloud: sonarsource/sonarcloud@4
  snyk: snyk/snyk@2

variables:
  node-version: &node-version '24.11.0'

anchors:
  node-executor: &node-executor
    name: node/default
    tag: *node-version

parameters:
    node-version:
      type: string
      default: *node-version

commands:
  export-primary-docker-tag:
    # Assuming /tmp/workspace as the files required
    steps:
      - run:
          name: Determine docker tag
          command: |
            echo "export PRIMARY_DOCKER_TAG=$(cat /tmp/workspace/short_version.txt | sed 's#/#-#g')" >> ${BASH_ENV}
  install-ssh-dependencies:
    steps:
      - run:
          name: Configure Known Hosts
          command: |
            ssh-keyscan -p ${SSH_PORT} ${SSH_SERVER} >> ~/.ssh/known_hosts
            cat ~/.ssh/known_hosts
  upload-file:
    parameters:
      file:
        description: the file to upload
        type: string
      remote_dir:
        description: The remote directory to append
        type: string
        default: "."
    steps:
      - run:
          name: Upload file
          command: |
            echo Uploading << parameters.file >>
            scp -P ${SSH_PORT} -v << parameters.file >> ${SSH_USER}@${SSH_SERVER}:${SSH_DOCKER_COMPOSE_REMOTE_DIR}/<< parameters.remote_dir >>
  execute-remote:
    parameters:
      command:
        description: The command to execute
        type: string
    steps:
      - run:
          name: Execute a remote command
          command: |
            ssh ${SSH_USER}@${SSH_SERVER} -p ${SSH_PORT} "${SSH_DOCKER_COMPOSE_REMOTE_DIR}/<< parameters.command >>"
  generate-file:
    parameters:
      template_file:
        description: The template file to use
        type: string
      output_file:
        description: The final filename to use
        type: string
      docker_registry:
        description: Replacement DOCKER_REGISTRY
        type: string
      docker_username:
        description: Replacement DOCKER_USERNAME
        type: string
      docker_tag:
        description: Replacement DOCKER_TAG
        type: string
      env:
        description: Replacement ENV
        type: string
    steps:
      - run:
          name: Generating k8s manifest
          command: |
            echo Generating << parameters.output_file >>
            export DOMAIN_POSTFIX=".${DEPLOYMENT_INGRESS_DOMAIN}"
            if [[ "<< parameters.env >>" != "prod" ]]; then
              export DOMAIN_POSTFIX="-<< parameters.env >>${DOMAIN_POSTFIX}"
            fi
            cat << parameters.template_file >> |\
              sed "s#\${DOMAIN_POSTFIX}#${DOMAIN_POSTFIX}#g" |\
              sed "s#\${DOCKER_REGISTRY}#<< parameters.docker_registry >>#g" |\
              sed "s#\${DOCKER_USERNAME}#<< parameters.docker_username >>#g" |\
              sed "s#\${DOCKER_TAG}#<< parameters.docker_tag >>#g" |\
              sed "s#\${ENV}#<< parameters.env >>#g" \
              > << parameters.output_file >>
            cat << parameters.output_file >>

jobs:
  unit-test:
    executor: *node-executor 
    resource_class: small
    steps:
      - checkout
      - node/install-packages:
          override-ci-command: npm install --include=dev
          include-branch-in-cache-key: false
      - run:
          name: Unit Tests
          command: npm test -- --forbid-pending --forbid-only --reporter mocha-junit-reporter
          environment:
            MOCHA_FILE: ./mocha/test-results.xml
      - run:
          name: Tar coverage
          command: tar -jvcf coverage.tar.bz2 coverage/
      - persist_to_workspace:
          root: ./
          paths:
            - coverage.tar.bz2
            - mocha/test-results.xml
      - store_test_results:
          path: ./mocha
      - store_artifacts:
          path: ./mocha/test-results.xml
      - store_artifacts:
          path: ./coverage.tar.bz2
      - run:
          name: Verify XO
          command: npm run xo

  sonar-scan:
    resource_class: small
    docker:
      - image: cimg/base:stable
    steps:
      - checkout:
          method: full
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Extract coverage
          command: tar -xvf /tmp/workspace/coverage.tar.bz2
      - sonarcloud/scan

  snyk-scan:
    resource_class: small
    docker:
      - image: cimg/base:stable
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - export-primary-docker-tag
      - run:
          name: Load docker images
          command: |
            docker load -i /tmp/workspace/images.tar
      - snyk/scan:
          docker-image-name: ${CIRCLE_PROJECT_REPONAME}:build
          fail-on-issues: false

  build-docker:
    resource_class: small
    docker:
      - image: cimg/base:stable
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: /tmp/workspace
      - docker/check:
          registry: ${PRIVATE_DOCKER_REGISTRY}
          docker_username: PRIVATE_DOCKER_USERNAME
          docker_password: PRIVATE_DOCKER_PASSWORD
      - checkout
      - docker/build:
          step_name: Build application docker image
          image: ${CIRCLE_PROJECT_REPONAME}
          tag: build
          extra_build_args: --build-arg NODE_VERSION=<< pipeline.parameters.node-version >>
          cache_from: ${PRIVATE_DOCKER_USERNAME}/${CIRCLE_PROJECT_REPONAME}:latest
      - run:
          name: Save docker image
          command: docker save -o images.tar ${CIRCLE_PROJECT_REPONAME}:build
      - persist_to_workspace:
          root: ./
          paths:
            - images.tar*

  publish-docker:
    resource_class: small
    docker:
      - image: cimg/base:stable
    parameters:
      registry-env:
        description: The registry envirnment variable to use to publish docker images.
        type: string
        default: docker.io
      docker-username-env:
        description: The docker registry username env variable to use.
        type: string
        default: DOCKER_LOGIN
      docker-password-env:
        description: The docker registery password env variable to use.
        type: string
        default: DOCKER_PASSWORD
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - export-primary-docker-tag
      - run:
          name: Custom enviroment variables
          command: |
            export DOCKER_TAGS=${PRIMARY_DOCKER_TAG}
            if [[ "main" == "<< pipeline.git.branch >>" ]] && [[ "main" != "${PRIMARY_DOCKER_TAG}" ]]; then
              for A in $(echo ${PRIMARY_DOCKER_TAG} | tr "." "\n"); do 
                NOW="$PREV.$A"
                export DOCKER_TAGS="${DOCKER_TAGS},${NOW:1}"
                PREV=$NOW
              done
              export DOCKER_TAGS="${DOCKER_TAGS},main,latest"
            fi
            echo "export DOCKER_TAGS=${DOCKER_TAGS}" >> ${BASH_ENV}
            echo "export FINAL_IMAGE_NAME=${<< parameters.docker-username-env >>}/${CIRCLE_PROJECT_REPONAME}" >> ${BASH_ENV}
            cat ${BASH_ENV}
      - docker/check:
          registry: ${<< parameters.registry-env >>}
          docker_password: << parameters.docker-password-env >>
          docker_username: << parameters.docker-username-env >>
      - run:
          name: Load docker images
          command: |
            docker load -i /tmp/workspace/images.tar
      - run:
          name: Tag docker images for repos
          command: |
            IFS="," read -ra LOOP_TAGS \<<< "${DOCKER_TAGS}"
            set -x
            for TAG in "${LOOP_TAGS[@]}"; do
              docker tag ${CIRCLE_PROJECT_REPONAME}:build ${<< parameters.registry-env >>}/${FINAL_IMAGE_NAME}:${TAG}
            done
            set +x
      - docker/push:
          step_name: Pushing image to desired repo
          registry: ${<< parameters.registry-env >>}
          image: ${FINAL_IMAGE_NAME}
          tag: ${DOCKER_TAGS}

  release-notes:
    executor: *node-executor 
    resource_class: small
    steps:
      - checkout
      - node/install-packages:
          override-ci-command: npm install --include=dev
          include-branch-in-cache-key: false
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Run semantic-release
          command: |
            npx semantic-release
            if [[ ! -f version.txt ]] || [[ "" == "$(cat version.txt)" ]]; then 
              printf "%s-%s" ${CIRCLE_BRANCH} ${CIRCLE_SHA1:0:7} | sed 's#/#-#g' > /tmp/workspace/full_version.txt
              printf "${CIRCLE_BRANCH}" | sed 's#/#-#g' > /tmp/workspace/short_version.txt
            else
              cp -v version.txt /tmp/workspace/full_version.txt
              cp -v version.txt /tmp/workspace/short_version.txt
            fi
            printf "Short version"
            cat /tmp/workspace/short_version.txt
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - full_version.txt
            - short_version.txt

  deploy-k8s:
    parameters:
      env:
        description: Which environment to deploy
        type: enum
        default: "wip"
        enum: ["wip", "prod"]
    docker:
      - image: cimg/base:stable
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - export-primary-docker-tag
      - checkout
      - when:
          condition:
            equal:
              - prod
              - << parameters.env >>
          steps:
            - run: |
                echo "export DOCKER_REGISTRY=${DOCKER_IO_REGISTRY}" >> ${BASH_ENV}
                echo "export DOCKER_USERNAME=${DOCKER_IO_USERNAME}" >> ${BASH_ENV}
      - unless:
          condition:
            equal:
              - prod
              - << parameters.env >>
          steps:
            - run: |
                echo "export DOCKER_REGISTRY=${PRIVATE_DOCKER_REGISTRY}" >> ${BASH_ENV}
                echo "export DOCKER_USERNAME=${PRIVATE_DOCKER_USERNAME}" >> ${BASH_ENV}
      - generate-file:
          template_file: deployments/k8s-template.yml
          output_file: ${CIRCLE_PROJECT_REPONAME}.yml
          docker_registry: ${DOCKER_REGISTRY}
          docker_username: ${DOCKER_USERNAME}
          docker_tag: ${PRIMARY_DOCKER_TAG}
          env: << parameters.env >>
      - install-ssh-dependencies
      - upload-file:
          file: ${CIRCLE_PROJECT_REPONAME}.yml
          remote_dir: k8s/ci/<< parameters.env >>
      - execute-remote:
          command: ci-deploy-k8s.sh << parameters.env >> phone-compare

  integration-test:
    resource_class: small
    docker:
      - image: cimg/base:stable
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: /tmp/workspace
      - export-primary-docker-tag
      - run:
          name: Load docker image
          command: docker load -i /tmp/workspace/images.tar
      - checkout
      - docker/build:
          step_name: Build integration testing docker image
          image: ${CIRCLE_PROJECT_REPONAME}
          tag: inttest
          dockerfile: int-test/Dockerfile
          extra_build_args: --build-arg FROM_IMAGE=${CIRCLE_PROJECT_REPONAME}:build
      - run:
          name: Bring up and test
          command: |
            set +e
            docker-compose -f int-test/docker-compose.yml up --abort-on-container-exit --exit-code-from ${CIRCLE_PROJECT_REPONAME}-ci-test
            export TEST_RESULTS=$?
            echo "TEST_RESULTS=${TEST_RESULTS}"
            set -e
            echo "export TEST_RESULTS=${TEST_RESULTS}" >> ${BASH_ENV}
      - docker/check:
          registry: ${PRIVATE_DOCKER_REGISTRY}
          docker_username: PRIVATE_DOCKER_USERNAME
          docker_password: PRIVATE_DOCKER_PASSWORD
      - run:
          name: Tag image for publishing
          command: |
            docker tag ${CIRCLE_PROJECT_REPONAME}:inttest ${PRIVATE_DOCKER_REGISTRY}/${PRIVATE_DOCKER_USERNAME}/${CIRCLE_PROJECT_REPONAME}:inttest-${PRIMARY_DOCKER_TAG}
      - docker/push:
          step_name: Push integration testing docker image
          image: "${PRIVATE_DOCKER_USERNAME}/${CIRCLE_PROJECT_REPONAME}"
          registry: ${PRIVATE_DOCKER_REGISTRY}
          tag: inttest-${PRIMARY_DOCKER_TAG}
      - run:
          name: Fail or Pass Build
          command: |
            echo "Exiting with ${TEST_RESULTS}"
            exit ${TEST_RESULTS}

workflows:
  default:
    jobs:
      - docker/hadolint:
          name: validate-dockerfile
          context: default
          dockerfiles: Dockerfile
      - unit-test:
          context: default
      - sonar-scan:
          context: default
          requires:
            - unit-test
      - build-docker:
          context: default
          requires:
            - unit-test
            - validate-dockerfile
      - publish-docker:
          name: publish-docker-private
          context: default
          registry-env: PRIVATE_DOCKER_REGISTRY
          docker-username-env: PRIVATE_DOCKER_USERNAME
          docker-password-env: PRIVATE_DOCKER_PASSWORD
          requires:
            - integration-test
            - release-notes
      - publish-docker:
          name: publish-docker-ghcr
          context: default
          registry-env: GHCR_REGISTRY
          docker-username-env: GHCR_USERNAME
          docker-password-env: GHCR_TOKEN
          requires:
            - integration-test
            - release-notes
          filters:
            branches:
              only:
                - main
      - publish-docker:
          name: publish-docker-dockerio
          context: default
          registry-env: DOCKER_IO_REGISTRY
          docker-username-env: DOCKER_IO_USERNAME
          docker-password-env: DOCKER_IO_PASSWORD
          requires:
            - release-notes
            - integration-test
          filters:
            branches:
              only:
                - main
      - snyk-scan:
          context: default
          requires:
            - build-docker
          filters:
            branches:
              ignore:
                - main
      - deploy-k8s:
          context: default
          name: deploy-k8s-wip
          env: wip
          serial-group: << pipeline.project.slug >>/deploy/wip
          requires:
            - publish-docker-private
      - deploy-k8s:
          context: default
          name: deploy-k8s-prod
          env: prod
          serial-group: << pipeline.project.slug >>/deploy/prod
          requires:
            - publish-docker-dockerio
          filters:
            branches:
              only:
                - main
      - integration-test:
          context: default
          requires:
            - build-docker
      - release-notes:
          context: default
          requires:
            - integration-test
